@import "~bootstrap/scss/bootstrap";

.image-wrapper {
  z-index: -1;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  img {
    width: 100%;
    height: 100%;
    opacity: 0.50;
  }
}
//putting a dark overlay on background images
.image-wrapper:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.8);
}

.navbar {
  z-index: 10;
  opacity: 0.45;
  button {
    background-color: white;
  }
}

.home {
  color: white !important;
}

.about {
  color: white !important
}

.photos {
  color: white !important
}

.contact {
  color: white !important
}

.index-images {
  img {
    width: 100%;
    height: 100%;
  }
}

h2 {
  color: white;
}

.photo-index-title {
  text-align: center;
  padding-top: 10px;
  color: white;
}

.pad-25-bottom {
  padding-bottom: 25px;
}

.pad-25-top {
  padding-top: 25px;
}

.pad-15-top {
  padding-top: 15px;
}

.pad-25-right {
  padding-right: 25px;
}

.center {
  text-align: center;
}

.photo-card {
  background-color: transparent;
  border: 0;
}

h1 {
  font-family: europa;
  font-weight: 300;
  font-style: normal;
  line-height: 3em;
  letter-spacing: .3em;
  color: rgba(0, 0, 0, 0.67);
}

p {
  font-family: europa;
  font-weight: 300;
  font-style: normal;
  line-height: 1.7em;
  font-size: 18px;
  letter-spacing: 0em;
  color: grey;
}

* {
  box-sizing: border-box;
  padding-top: 5px;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  font-family: brandon-grotesque;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .1em;
  background-color: rgba(0, 0, 0, 0.78);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 0.26);
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
