<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 center">
      <h1>Dani Coleman - Through the Lens of Light</h1>
      <br>
      <p>Here is how I see the world and its infinite vastness!</p>
    </div>
  </div>
</div>
