<div class="container">
 <div class="image-wrapper">
    <img src="/assets/dani_reflection.jpg" alt="Reflection">
  </div>
</div>

<section class="sh-section sh-section-7518da57a191374d355d3a46c3ae60e2 fw-main-row sh-section-visibility-everywhere">
	<div class="sh-section-container container">
		<div class="fw-row">
			<div class="sh-column sh-column-bfa7889fe2d0bdd54c0b0f21829424cb fw-col-xs-12 fw-col-sm-2" >
			<div class="sh-column-wrapper"></div>
			</div>
			<div class="sh-column sh-column-30ff80c397e0559482fb634ec76de4c9 fw-col-xs-12 fw-col-sm-8" >
				<div class="sh-column-wrapper">
					<div class="sh-heading sh-heading-style1" id="heading-ab763994de9c30b7429f4c870ed8ade3">
						<h1 class="sh-heading-content size-xl">
							<span style="text-align: center;">Dani <strong>Coleman</strong></span></h1>
					</div>
					<div class="sh-heading sh-heading-style1" id="heading-978b5ee790c06522ed501e56c2b026b1">
						<h1 class="sh-heading-content size-custom">
							<span style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim consectetur feugiat. Fusce quis ex fringilla, facilisis velit et, euismod mauris. Vivamus quis consectetur nisi. Ut a est enim. Suspendisse imperdiet nisl id <a href="#">metus posuere mattis.</a></span>	</h1>
					</div>
				</div>
			</div>
			<div class="sh-column sh-column-e7611e53fceba3fabd51b8777541805c fw-col-xs-12 fw-col-sm-2" >
			<div class="sh-column-wrapper"></div>
			</div>
		</div>
	</div>
</section>


<!-- <div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 center">
      <h1 class="first-name">Dani</h1>
      <h1 class="last-name">Coleman</h1>
      <h1 class="title">Through the Lens of Light</h1>
      <br>
      <p>Here is how I see the world and its infinite vastness!</p>
    </div>
  </div>
</div> -->
