<div class="container">
  <div class="row justify-content-md-center">
   <div class="image-wrapper">
      <img src="/assets/home.jpg" alt="Reflection">
    </div>
    <div class="col-md-6 center">
      <h1 class="welcome-header">
        Dani Coleman
      </h1>
      <h2>Photography</h2>
    </div>
  </div>
</div>
