<nav class="navbar navbar-expand-lg navbar-light bg-dark">
<!-- Add image for home button -->
  <a class="home navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="about nav-link" href="/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="photos nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Photos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Landscapes', photos_path(genre: "landscape"), class: "dropdown-item"%>
          <%= link_to 'People', photos_path(genre: "people"), class: "dropdown-item"%>
          <%= link_to 'Space', photos_path(genre: "space"), class: "dropdown-item"%>
          <%= link_to 'Sunsets', photos_path(genre: "sunset"), class: "dropdown-item"%>
        </div>
      </li>
    </ul>
  </div>
</nav>
